# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# Ignore environment folders
venv/
.env

# Ignore files
*.npz
*.bz2
*.h5
*.jpc
*.vcf
*PADDED.hapt

results/1KG/8020/wgan/output_dir
results/1KG/aats/wgan/output_dir
results/1KG/afr/wgan/output_dir
results/1KG/noneur/wgan/output_dir
results/b38/8020/wgan/output_dir

results/UKBB
aux/UKBB*

pc/demo/data/500000_train.txt

aux/b38_unrelated_real.hapt
aux/b38_real.hapt

impute5/results

results/b38
aux/b38_real_eur.hapt
aux/b38_real_noneur.hapt